################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DrugaVaja/.vs/DrugaVaja/FileContentIndex/64a387ac-bb77-4a49-9dea-dd0f6d84a8bb.vsidx
